In [296]:
import pandas as pd
import numpy as np

df1 = pd.read_excel("Data\Afbrudt_institution.xlsx")
df2 = pd.read_excel("Data\Afbrudte uddannelse .xlsx")
df3 = pd.read_excel("Data\Fuldførte institution .xlsx")
df4 = pd.read_excel("Data\Fuldførte uddannelse .xlsx")

<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\F'
<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\F'
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\2037392247.py:4: SyntaxWarning: invalid escape sequence '\A'
  df1 = pd.read_excel("Data\Afbrudt_institution.xlsx")
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\2037392247.py:5: SyntaxWarning: invalid escape sequence '\A'
  df2 = pd.read_excel("Data\Afbrudte uddannelse .xlsx")
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\2037392247.py:6: SyntaxWarning: invalid escape sequence '\F'
  df3 = pd.read_excel("Data\Fuldførte institution .xlsx")
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\2037392247.py:7: SyntaxWarning: invalid escape sequence '\F'
  df4 = pd.read_excel("Data\Fuldførte uddannelse .xlsx")

In [297]:
df2.head()

,År,Unnamed: 1,Unnamed: 2,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Uddannelse,MGRPTX,UGRPTX,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal
1,Erhvervsakademiuddannelser (EA),Total,NaN,4275,4073,3880,3672,3674,3547,3703,4125,2970,3552
2,Erhvervsakademiuddannelser (EA),"Bio- og laboratorietekniske område, EA",Total,322,242,235,266,288,247,244,312,185,239
3,Erhvervsakademiuddannelser (EA),"Designfaglige område, EA",Total,162,156,145,137,133,96,116,126,107,107
4,Erhvervsakademiuddannelser (EA),"It-faglige område, EA",Total,1278,1034,1001,901,847,802,801,841,636,865

In [298]:
df2.info()
df2.describe(include='all')
df2.columns
df2.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 109 entries, 0 to 108
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   År          109 non-null    object
 1   Unnamed: 1  108 non-null    object
 2   Unnamed: 2  104 non-null    object
 3   2015        108 non-null    object
 4   2016        106 non-null    object
 5   2017        107 non-null    object
 6   2018        107 non-null    object
 7   2019        107 non-null    object
 8   2020        107 non-null    object
 9   2021        107 non-null    object
 10  2022        108 non-null    object
 11  2023        106 non-null    object
 12  2024        106 non-null    object
dtypes: object(13)
memory usage: 11.2+ KB

År            0
Unnamed: 1    1
Unnamed: 2    5
2015          1
2016          3
2017          2
2018          2
2019          2
2020          2
2021          2
2022          1
2023          3
2024          3
dtype: int64

In [299]:
df2.replace("Total", np.nan, inplace=True)
df2.replace(np.nan, '',inplace=True)

In [300]:
df2.head(100)

,År,Unnamed: 1,Unnamed: 2,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Uddannelse,MGRPTX,UGRPTX,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal
1,Erhvervsakademiuddannelser (EA),,,4275,4073,3880,3672,3674,3547,3703,4125,2970,3552
2,Erhvervsakademiuddannelser (EA),"Bio- og laboratorietekniske område, EA",,322,242,235,266,288,247,244,312,185,239
3,Erhvervsakademiuddannelser (EA),"Designfaglige område, EA",,162,156,145,137,133,96,116,126,107,107
4,Erhvervsakademiuddannelser (EA),"It-faglige område, EA",,1278,1034,1001,901,847,802,801,841,636,865
...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,Kandidatuddannelser,"Teknik, kandidat","Civilingeniør, kandidat",399,517,401,444,412,417,483,521,479,448
96,Kandidatuddannelser,"Teknik, kandidat","Arkitekt, kandidat",14,32,33,30,21,19,20,19,17,15
97,Kandidatuddannelser,"Teknik, kandidat","Øvrige teknik, kandidat",86,151,99,111,87,90,89,70,66,69
98,Kandidatuddannelser,"Natur, kandidat",,623,520,446,536,510,440,484,544,554,448
99,Kandidatuddannelser,"Natur, kandidat","Landbrug mv., kandidat",97,45,38,49,59,35,47,46,64,33

In [301]:
df2.rename(columns={'Unnamed: 1': 'FagLinjer', 'Unnamed: 2': 'FagRetning', 'År': 'Uddannelse'}, inplace=True)

In [302]:
df2.drop(index=0, inplace=True)

In [303]:
df2.head(100)

,Uddannelse,FagLinjer,FagRetning,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
1,Erhvervsakademiuddannelser (EA),,,4275,4073,3880,3672,3674,3547,3703,4125,2970,3552
2,Erhvervsakademiuddannelser (EA),"Bio- og laboratorietekniske område, EA",,322,242,235,266,288,247,244,312,185,239
3,Erhvervsakademiuddannelser (EA),"Designfaglige område, EA",,162,156,145,137,133,96,116,126,107,107
4,Erhvervsakademiuddannelser (EA),"It-faglige område, EA",,1278,1034,1001,901,847,802,801,841,636,865
5,Erhvervsakademiuddannelser (EA),"Samfundsfaglige område, EA",,49,56,56,66,71,70,53,133,152,191
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,Kandidatuddannelser,"Teknik, kandidat","Arkitekt, kandidat",14,32,33,30,21,19,20,19,17,15
97,Kandidatuddannelser,"Teknik, kandidat","Øvrige teknik, kandidat",86,151,99,111,87,90,89,70,66,69
98,Kandidatuddannelser,"Natur, kandidat",,623,520,446,536,510,440,484,544,554,448
99,Kandidatuddannelser,"Natur, kandidat","Landbrug mv., kandidat",97,45,38,49,59,35,47,46,64,33
100,Kandidatuddannelser,"Natur, kandidat","Husdyr, kandidat",,7,,,,,,,,

In [304]:
df2.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df2.dropna(how='any', inplace=True)
df2["Type"] = "Afbrudt"

C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\1396757561.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df2.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [305]:
df2.head(100)

,Uddannelse,FagLinjer,FagRetning,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Type
10,Professionsbachelorer,"Økonomisk/merkantil, prof. bach.","Marketing og ledelse, prof. bach.",262.0,270.0,289.0,267.0,251.0,232.0,241.0,208.0,165.0,166.0,Afbrudt
11,Professionsbachelorer,"Økonomisk/merkantil, prof. bach.","Økonomi og IT, prof. bach.",423.0,427.0,483.0,463.0,480.0,471.0,529.0,621.0,519.0,547.0,Afbrudt
13,Professionsbachelorer,"Teknik, prof. bach.","Diplomingeniører, prof. bach.",1437.0,1462.0,1486.0,1488.0,1640.0,1532.0,1455.0,1315.0,1296.0,1048.0,Afbrudt
14,Professionsbachelorer,"Teknik, prof. bach.","Bygningskonstruktør, prof. bach.",486.0,527.0,496.0,505.0,463.0,526.0,590.0,623.0,581.0,633.0,Afbrudt
15,Professionsbachelorer,"Teknik, prof. bach.","Maskinmester, prof. bach.",252.0,300.0,279.0,322.0,301.0,247.0,283.0,359.0,275.0,235.0,Afbrudt
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101,Kandidatuddannelser,"Natur, kandidat","Øvrige natur, kandidat",524.0,468.0,404.0,484.0,450.0,403.0,434.0,494.0,488.0,412.0,Afbrudt
103,Kandidatuddannelser,"Sundhed, kandidat","Farmaceut, kandidat",8.0,8.0,6.0,7.0,11.0,5.0,11.0,8.0,9.0,8.0,Afbrudt
104,Kandidatuddannelser,"Sundhed, kandidat","Læge, kandidat",39.0,44.0,35.0,29.0,49.0,36.0,27.0,31.0,35.0,63.0,Afbrudt
106,Kandidatuddannelser,"Sundhed, kandidat","Sundhed (prof.rettet), kandidat",33.0,64.0,32.0,44.0,44.0,56.0,58.0,82.0,116.0,83.0,Afbrudt
107,Kandidatuddannelser,"Sundhed, kandidat","Øvrige sundhed, kandidat",74.0,82.0,55.0,63.0,51.0,82.0,74.0,83.0,81.0,57.0,Afbrudt

In [306]:
df2.to_excel("Data\Afbrudte uddannelse_cleaned.xlsx", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\A'
<>:1: SyntaxWarning: invalid escape sequence '\A'
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\882006165.py:1: SyntaxWarning: invalid escape sequence '\A'
  df2.to_excel("Data\Afbrudte uddannelse_cleaned.xlsx", index=False)

Df4

In [307]:
df4.head()

,År,Unnamed: 1,Unnamed: 2,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,Uddannelse,MGRPTX,UGRPTX,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal,Antal
1,Erhvervsakademiuddannelser (EA),Total,NaN,7945,8840,8822,8440,8309,7776,7894,8358,8844,7294
2,Erhvervsakademiuddannelser (EA),"Bio- og laboratorietekniske område, EA",Total,589,661,591,581,607,519,494,517,589,557
3,Erhvervsakademiuddannelser (EA),"Designfaglige område, EA",Total,798,806,716,692,667,596,623,606,609,574
4,Erhvervsakademiuddannelser (EA),"It-faglige område, EA",Total,1767,2103,1926,1758,1714,1654,1635,1681,1950,1658

In [308]:
df4.info()
df4.describe(include='all')
df4.columns
df4.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115 entries, 0 to 114
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   År          115 non-null    object
 1   Unnamed: 1  114 non-null    object
 2   Unnamed: 2  110 non-null    object
 3   2015        111 non-null    object
 4   2016        113 non-null    object
 5   2017        113 non-null    object
 6   2018        113 non-null    object
 7   2019        113 non-null    object
 8   2020        113 non-null    object
 9   2021        113 non-null    object
 10  2022        113 non-null    object
 11  2023        114 non-null    object
 12  2024        114 non-null    object
dtypes: object(13)
memory usage: 11.8+ KB

År            0
Unnamed: 1    1
Unnamed: 2    5
2015          4
2016          2
2017          2
2018          2
2019          2
2020          2
2021          2
2022          2
2023          1
2024          1
dtype: int64

In [309]:
df4.replace("Total", np.nan, inplace=True)
df4.replace(np.nan, '',inplace=True)

In [310]:
df4.rename(columns={'Unnamed: 1': 'FagLinjer', 'Unnamed: 2': 'FagRetning', 'År': 'Uddannelse'}, inplace=True)

In [311]:
df4.drop(index=0, inplace=True)

In [312]:
df4.replace(r'^\s*$', np.nan, regex=True, inplace=True)
df4.dropna(how='any', inplace=True)
df4["Type"] = "Fuldført"

C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\3152647252.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df4.replace(r'^\s*$', np.nan, regex=True, inplace=True)

In [313]:
df4.head(100)

,Uddannelse,FagLinjer,FagRetning,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024,Type
11,Professionsbachelorer,"Økonomisk/merkantil, prof. bach.","Marketing og ledelse, prof. bach.",618.0,608.0,715.0,815.0,802.0,889.0,945.0,852.0,894.0,709.0,Fuldført
12,Professionsbachelorer,"Økonomisk/merkantil, prof. bach.","Økonomi og IT, prof. bach.",1091.0,1183.0,1320.0,1449.0,1516.0,1511.0,1535.0,1607.0,1767.0,1615.0,Fuldført
14,Professionsbachelorer,"Teknik, prof. bach.","Diplomingeniører, prof. bach.",1710.0,1728.0,1833.0,1877.0,1989.0,2101.0,2184.0,2190.0,2165.0,2100.0,Fuldført
15,Professionsbachelorer,"Teknik, prof. bach.","Bygningskonstruktør, prof. bach.",990.0,1069.0,965.0,983.0,976.0,1009.0,1035.0,1030.0,1104.0,1144.0,Fuldført
16,Professionsbachelorer,"Teknik, prof. bach.","Maskinmester, prof. bach.",440.0,494.0,563.0,692.0,670.0,696.0,666.0,627.0,681.0,723.0,Fuldført
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109,Kandidatuddannelser,"Sundhed, kandidat","Tandlæge, kandidat",146.0,120.0,111.0,127.0,131.0,130.0,126.0,134.0,134.0,152.0,Fuldført
110,Kandidatuddannelser,"Sundhed, kandidat","Læge, kandidat",965.0,1233.0,1279.0,1319.0,1239.0,1284.0,1269.0,1236.0,1250.0,1303.0,Fuldført
111,Kandidatuddannelser,"Sundhed, kandidat","Veterinær, kandidat",133.0,149.0,131.0,134.0,156.0,169.0,142.0,167.0,137.0,125.0,Fuldført
112,Kandidatuddannelser,"Sundhed, kandidat","Sundhed (prof.rettet), kandidat",122.0,181.0,174.0,171.0,176.0,178.0,197.0,179.0,189.0,195.0,Fuldført
113,Kandidatuddannelser,"Sundhed, kandidat","Øvrige sundhed, kandidat",412.0,642.0,633.0,616.0,584.0,580.0,696.0,631.0,654.0,703.0,Fuldført

In [314]:
df4.to_excel("Data\Fuldførte_uddannelse_cleaned.xlsx", index=False)

<>:1: SyntaxWarning: invalid escape sequence '\F'
<>:1: SyntaxWarning: invalid escape sequence '\F'
C:\Users\ferdi\AppData\Local\Temp\ipykernel_34632\548814869.py:1: SyntaxWarning: invalid escape sequence '\F'
  df4.to_excel("Data\Fuldførte_uddannelse_cleaned.xlsx", index=False)

In [315]:
Uddannelse_combined = pd.concat([df2, df4], ignore_index=True)

In [325]:
Uddannelse_combined.to_excel(r"Data\Uddannelse_combined.xlsx", index=False)