In [46]:
import pandas as pd


df1 = pd.read_excel("Data\Afbrudt_institution.xlsx")
df2 = pd.read_excel("Data\Afbrudte uddannelse .xlsx")
df3 = pd.read_excel("Data\Fuldførte institution .xlsx")
df4 = pd.read_excel("Data\Fuldførte uddannelse .xlsx")

<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\F'
<>:4: SyntaxWarning: invalid escape sequence '\A'
<>:5: SyntaxWarning: invalid escape sequence '\A'
<>:6: SyntaxWarning: invalid escape sequence '\F'
<>:7: SyntaxWarning: invalid escape sequence '\F'
C:\Users\danie\AppData\Local\Temp\ipykernel_3832\139192479.py:4: SyntaxWarning: invalid escape sequence '\A'
  df1 = pd.read_excel("Data\Afbrudt_institution.xlsx")
C:\Users\danie\AppData\Local\Temp\ipykernel_3832\139192479.py:5: SyntaxWarning: invalid escape sequence '\A'
  df2 = pd.read_excel("Data\Afbrudte uddannelse .xlsx")
C:\Users\danie\AppData\Local\Temp\ipykernel_3832\139192479.py:6: SyntaxWarning: invalid escape sequence '\F'
  df3 = pd.read_excel("Data\Fuldførte institution .xlsx")
C:\Users\danie\AppData\Local\Temp\ipykernel_3832\139192479.py:7: SyntaxWarning: invalid escape sequence '\F'
  df4 = pd.read_excel("Data\Fuldførte uddannelse .xlsx")

In [47]:

print(df1.head())

         Institution         Subinstitution                 InstitutionType  \
0  Erhvervsakademier                  Total                             NaN
1  Erhvervsakademier  Erhvervsakademi Dania                           Total
2  Erhvervsakademier  Erhvervsakademi Dania   Erhvervsakademi Dania, Grenaa
3  Erhvervsakademier  Erhvervsakademi Dania  Erhvervsakademi Dania, Hadsten
4  Erhvervsakademier  Erhvervsakademi Dania    Erhvervsakademi Dania, Hobro

     Year   Antal
0  2015.0     NaN
1  2015.0  3805.0
2  2015.0   421.0
3  2015.0    26.0
4  2015.0     6.0

In [48]:
df1 = df1[~df1.map(lambda x: isinstance(x, str) and 'total' in x.lower()).any(axis=1)]

In [49]:
print(df1.head()  )

         Institution         Subinstitution  \
2  Erhvervsakademier  Erhvervsakademi Dania
3  Erhvervsakademier  Erhvervsakademi Dania
4  Erhvervsakademier  Erhvervsakademi Dania
5  Erhvervsakademier  Erhvervsakademi Dania
6  Erhvervsakademier  Erhvervsakademi Dania

                             InstitutionType    Year  Antal
2              Erhvervsakademi Dania, Grenaa  2015.0  421.0
3             Erhvervsakademi Dania, Hadsten  2015.0   26.0
4               Erhvervsakademi Dania, Hobro  2015.0    6.0
5             Erhvervsakademi Dania, Horsens  2015.0   42.0
6  Erhvervsakademi Dania, Horsens (e-læring)  2015.0   40.0